.about
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: #1f1d1d

    .tech-slider
        position: relative
        overflow: hidden
        width: 100%
        padding: 40px 80px

        .tech-track
            display: flex
            justify-content: center
            align-items: center
            .tech-item
                flex: 1
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                padding: 10px
                font-size: 1.4rem
                font-weight: 500
                span
                    color: #a9a9a9
                    transition: color 0.3s ease-in-out
                    &:hover
                        color: #ffffff

.what-you-learn
    padding: 40px 200px
    background-color: #1f1d1d
    h2
        font-size: 2.4rem
        color: #ffffff
        text-align: center
        margin-bottom: 60px
        word-spacing: 0.8rem
        span
            color: #26cfaa
    .learn-cards-container
        display: flex
        align-items: center
        justify-content: center
        gap: 40px

        .card
            display: flex
            align-items: center
            flex-direction: column
            text-align: center
            &:nth-child(3) img
                filter: invert(1)
            img
                height: 100px
                width: auto
            .content
                padding: 1.1rem
                .title
                    color: #f3f3f3
                    font-size: 1.2rem
                    line-height: 1.75rem
                    font-weight: 600

                .desc
                    margin-top: 0.5rem
                    color: #d6d6d6
                    font-size: 1rem
                    line-height: 1.6rem

.join-community
    background-color: #1f1d1d
    color: #fff
    padding: 120px 0px
    position: relative
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    column-gap: 100px

    .tooltip
        position: absolute
        color: #616161
        font-size: 1rem
        background: #ffffff
        border-radius: 50px
        padding: 4px 12px
        box-shadow: 0 0 10px #0000001c
        z-index: 10
        visibility: hidden

    .community-content
        padding-left: 200px
        position: relative
        img
            position: absolute
            width: 160px
            height: auto
            top: -80px
            left: 0px
        h2
            font-size: 2.4rem
            color: #f3f3f3

        p
            text-align: left
            font-size: 1.2rem
            line-height: 1.9rem
            margin-bottom: 20px
            color: #d6d6d6

        .join-button
            background-color: #41ad89
            border: none
            color: white
            padding: 8px 24px
            font-size: 1.2rem
            cursor: pointer
            border-radius: 8px
            transition: background-color 0.25s ease-in-out

            &:hover
                background-color: #338b6d

    .image-content
        position: relative
        display: inline-block
        &::after
            content: ""
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 200px
            width: 1000px
            background: linear-gradient(to bottom, #f9f9f900 0%, #1f1d1d75 50%, #1f1d1d 100%)

        img
            width: 1000px
            height: auto
            display: block
